/* app/static/style.css */

/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    background: linear-gradient(45deg, #6a11cb, #2575fc); /* Gradient background */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    text-align: center;
}

header {
    max-width: 700px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

/* Animations pour l'header */
header:hover {
    transform: translateY(-10px);
}

/* Titre principal */
h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 700;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

/* Style du paragraphe */
p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
}

/* Style du bouton */
.cta-btn {
    background-color: #2575fc;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: inline-flex;
    align-items: center;
}

.cta-btn:hover {
    background-color: #6a11cb;
    transform: scale(1.05);
}

/* Animations pour l'icône dans le bouton */
.cta-btn i {
    margin-left: 10px;
    font-size: 1.3rem;
}

/* Responsivité */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }
    .cta-btn {
        font-size: 1rem;
        padding: 12px 25px;
    }
}
